.feature__logo.icon-antenna::before {
  background-image: url(../svgimg/antenna.svg);
}

.feature__logo.icon-clock::before {
  background-image: url(../svgimg/clock.svg);
}

.feature__logo.icon-diagram::before {
  background-image: url(../svgimg/diagram.svg);
}

.feature__logo.icon-astronaut::before {
  background-image: url(../svgimg/astronaut.svg);
}

.features {
  padding-bottom: 0;
}

.features__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    text-align: justify;
  }
}

.feature__logo {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 768px;
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    flex-basis: auto;
  }
}

.feature__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width: 768px) {
    display: flex;
    margin: -15px;
  }

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
  & .feature__logo::before {
    content: "";
    display: block;
    height: 120px;
    background-color: #f5f4fa;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}

.features__text {
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}
